<%= error_messages_for 'projection' %>

<!--[form:projection]-->
<p><label for="projection_date">Date</label><br/>
<%= date_select 'projection', 'date'  %></p>

<p><label for="projection_description">Description</label><br/>
<%= text_field 'projection', 'description'  %></p>

<p><label for="projection_value">Value</label><br/>
<%= text_field 'projection', 'value'  %></p>
<!--[eoform:projection]-->

